/*
Dark Cerulean (background): #08327D;
Midnight Express (header): #04193F;
Bright Turquoise (buttons): #27FFEF;
*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* >>>>---- HELPERS ----*/
.center-align, .center-align-absolute{
	margin-left: auto;
	margin-right: auto;
}
.center-align-absolute{
  left: 0;
  right: 0;
}
.center-text{
	text-align: center;
}

.padding-sm{
	padding: 1em;
}
.box-radius{
  border-radius: 5px;
}
.notVisible{
  visibility: hidden;
}
.notMouse{
  cursor: none;
}

/* ---- HELPERS ----<<<<*/

html {
  height: 100%;
}

body{
  background: #08327D;
  min-height: 100%;
}

header{
	width: 100%;
	height: 3em;
	
    color: #fff;
    position: fixed;
	background: #04193F;
    z-index: 8;
}

header .btn-nav {
  background-color: transparent;
  color: #FFF;
  border: none;
  padding: 1em 2.1em;
}

nav {
  background-color: #0C0D05;
  width: 5em;
  left: 0;
  height: 100%;
  position: fixed;
  padding-top: 3em;
  z-index: 7
}
nav .nav__btn {
  display: block;
  color: #27FFEF;
  border: none;
  background-color: transparent;
  padding-top: 1em;
}

.nav__btn--about {
  position: absolute;
  bottom: 0%;
  margin-bottom: 5em;
  width: 5em;
}

nav .showWithMediaQ {
  left: 0;
}


img{
  max-width: 100%;
  max-height: 100%;
}

textarea {
  display: inline;
  position: absolute;
  bottom: 0; 
  left: 0;
  margin-left: 1em;
  
  color: white;
  resize: none; 
  height: auto; 
  min-height: auto;
  max-height: 100%;
  width: 70%;
/*  max-width: 30em;*/
  font-size: 1.5em; 
  
  background-color: #08327d;  
  border-top: 1px solid #08327d; 
  border-left: 1px solid #08327d; 
  border-right: 1px solid #08327d;  
  border-bottom: 2px solid #27FFEF; 
}
/*video{
  border: 1px solid white;
}*/

.main-container {
  height: 100%;
  width: 100%;
}

.layout-container{
	width: 100%;
    padding: 3em 0 3em 5em;
    height: 100%;
    position: absolute;
}

.sender{
  font-size: 1.1em;
  font-weight: bold;
  color: #FFF;
}

.layout-message{
	width: 100%;
	height: 60%;
}
.layout-message .message{
	width: 100%;
  padding: 1em;
	overflow-y: auto;
  
    background: #FFF;
    color: #08327D;  
}

.layout-textarea{
  width: 100%;
  height: 40%;
  position: relative;
}

.layout-2btns{
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: 3em;
  left: 70%;
  
  
}

.device-list {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80%;
  max-width: 400px;
  z-index: 10;
  background-color: #0C0D05;
  
  -webkit-box-shadow: -9px 0px 16px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 0px 16px -6px rgba(0,0,0,0.75);
  box-shadow: -9px 0px 16px -6px rgba(0,0,0,0.75);
}
  .device-list--hide {
    right: -100%;
    transition: right 1.5s;
  }
  .device-list--visible {
    right: 0;
    transition: right 1s;
  }
  .device-list li {
    width: 95%;
    padding: 1em;
    margin: 1em auto;
    text-align: right;
/*    background-color: #c1eaf2;*/
    border-bottom: 0.2em solid #27FFEF;
  }
  .device-list li:last-child {
    border-bottom: none;
  }
  .device-list li p {
    color: #f8f8f8;
  }
  .device-list li span {
    color: #27FFEF;
  }

/*Buttons*/

.btn{
  margin: 0.2em;
  
  color: #08327D;
  background: #27FFEF;
  border:solid #27FFEF;
}
.btn--round{
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.btn:hover{
  color: #27FFEF;
  background: #08327D;
}
	/*@media (min-width: 611px){
		.btn{
			margin-top:40%;
		}
	}*/

.square-button
{
  width: 300px;
  background: #08327D;
  color: #FFF;
  padding: 0.5em 2em;
  text-decoration: none;
  border-radius: 5px;
  z-index: 10000;
}

.btn-devicelist {
  border: 2px solid #27FFEF;
  padding: 0.5em;
  border-radius: 5px;
  background-color: transparent;
  color: #FFF;
  float: right;
  margin-right: 1em;
  font-size: 1em;
  position: relative;
  bottom: -0.3em
}

.input-decoration
{
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}
.input-decoration + label i
{
  width: 100%;
  height: 100%;
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
}
/*Buttons*/

/*Modal-*/
#modal
{
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 19999;
  top: 0;
  left: 0;
}
.modal-dialog
{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background: #FFF;
  border-radius: 10px;
  z-index: 9999;
}
  .modal-container .text-top
  {
    color: #08327D;
    font-size: 1.1em;
  }
  #scan-modal.video-dialog{
    top: 2em;
    height: 90%;
    /*background: transparent;*/
    box-shadow: unset;
  }
#qrcode
{
  width: 100%;
  height: 50%;
  margin: 1em 0;
  /*background-image: url(socket-room.png);*/
  background-repeat: no-repeat;
  background-position: center;
}
.layout-qrcode{
  top: 25%;
}
.modal-btn-container{
  padding: 1em 0;
}
.box-shadow
{
  -webkit-box-shadow: 1px 25px 47px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 25px 47px -13px rgba(0,0,0,0.75);
  box-shadow: 1px 25px 47px -13px rgba(0,0,0,0.75);
}
.btn-shadow
{
  -webkit-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
}
.close
{
  color: #08327D;
}

.scan-video{
  width: 90%;
  height: 90%;
}
/*-Modal*/

/*Flashmessge*/
.flashmessage{
  left: 5em;
  position: absolute;
  top: 4em;
  width: 80%;
  
  background: #fff;
  border-top: 0.4em solid #04193F;

  z-index: 99999;
}
.flashmessage>p{
  padding: 1em;
}
/*Flashmessge*/

/*Dropdown----*/
.dropdown-container
{
  position: relative;
  width: 200px;
  margin: 0.5em auto;
  padding: 10px 0;
/*  top: 3.5em;*/
  
  background: #27FFEF;
  border-radius: 7px;
  border: 2px solid #27FFEF;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  cursor: pointer;
  outline: none;
  
  font-size: 1.2em;
  font-weight: bold;
  color: #08327D;
/*  z-index: 9;*/
}
.dropdown-container:hover
{
  background: #08327D;
  color: #27FFEF;
  border: 2px solid #27FFEF;
  
/*
  -webkit-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 6px 15px 2px rgba(0,0,0,0.75);
*/
}
.dropdown-container .dropdown
{
  position: absolute;
  top: 3em;
  width: 100%;
/*
  left: 0;
  right: 0;
*/
  
  background: #fff;
  border-radius: inherit;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;
  
  opacity: 0;
  pointer-events: none;
  color: #08327D;
}
.dropdown-container.active .dropdown 
{
  opacity: 1;
  pointer-events: auto;
}
.dropdown-container span i
{
  position: relative;
  right: -0.5em;
}
.list-el
{
/*  position: relative;*/
/*  left: -1.8em;*/
  
  padding : 0.2em 0;
  text-align: left;
}
.list-el:hover
{
  color: aqua;
}
.list-el.selected:before
{
  padding-left: 0.5em;
  font-family: FontAwesome;
  content: "\f00c";
/*  position: absolute;*/
/*  right: -1.5em;*/
}

@media (min-width: 320px) {
  nav {
    visibility: hidden;
  }
  
  .layout-container {
    padding: 3em 0 1em 0;
  }
}

@media (min-width: 540px) {
  nav {
    visibility: visible;
  }
  .layout-container {
    padding: 3em 0 3em 5em;
  }
}