<div class="main-container">
	<header>
		<button class="btn-nav" ng-click="showNav()"><i class="fa fa-2x">&#xf0c9;</i></button>
        <button class="btn-devicelist" ng-click="openDeviceList()" ng-data="devicelist">Devices: {{ devicelist }}</button>  
	</header>
  
  <nav>
    <button class="nav__btn nav__btn--plus center-align" ng-click="modal()"><i class="fa fa-3x">&#xf067;</i></button>
    
    <button class="nav__btn nav__btn--search center-align" ng-click="searchMessage()"><i class="fa fa-3x">&#xf002;</i></button>
    
    <button class="nav__btn nav__btn--settings center-align" ng-click="appSettings()"><i class="fa fa-3x">&#xf013;</i></button>
    
    <button class="nav__btn nav__btn--leave-room center-align" ng-click="leaveRoom()"><i class="fa fa-3x">&#xf08b;</i></button>
    
    <button class="nav__btn nav__btn--about center-align-absolute" ng-click="about()"><i class="fa fa-3x">&#xf129;</i></button>
  </nav>

  <div class="device-list device-list--hide center-align">
  	<button class="btn btn--round" ng-click="openDeviceList()"><i class="fa fa-2x fa-close"></i></button>
  	<ul>
  		
  	</ul>
  </div>

	<div class="middle-content">
		<div class="middle-content__messages">
		<!-- APPEND MESSAGES HERE -->
		</div>

		<div class="middle-content__text-input">
			<textarea  class="autoExpand" name="textarea" rows="1" data-min-rows='1' placeholder="Type some text here"></textarea>
          
          <div class="middle-content__text-input__btns">
			<button class="btn btn--round" ng-click="sendTextToRoom()">
				<i class="fa fa-2x">&#xf1d8;</i>
			</button>
			<button class="btn btn--round">
				<i class="fa fa-2x">&#xf0c6;</i>
			</button>
		</div>
		</div>


		<div id="modal" class="modal-container center-align center-text">
		  <div id="open-modal" class="modal-dialog box-shadow center">
		    <a href="javascript:void(0)" title="Close" class="close" ng-click="modal()"><i class="fa fa-times fa-3x"></i></a>
		    <div class="modal-main-container">
		      <p class="text-top">Scan the QR to start sharing with this device</p>
		      <div id="qrcode" class="layout-qrcode center-absolute"></div>
		    </div>
		    <div class="modal-btn-container">
		    	<button ng-click="scanQr()">Scan</button>
		      <!-- <input type="file" class="square-button center-align center-align-absolute" custom-on-change="uploadFile" value="Scan other device QR Code"/> -->
		    </div>
		  </div>

		  <div id="scan-modal" class="modal-dialog box-shadow video-dialog center-align notVisible">
		    <div id="reader" class="scan-video center-align"></div>
		  </div>
		</div>
	</div>
  
  <div class="flashmessage center-align-absolute center-text notVisible"></div>
</div>

<canvas id="qr-canvas" style="display:none;">
	
</canvas>
