<div class="main-container">
	<header>
		<h2>Simplicopi</h2>
	</header>
  <div id="dd" class="dropdown-container center-align center-text" ng-data="devicelist">
    <span>Devices: You +{{ devicelist.length }} <i class="fa fa-chevron-down"></i></span>
    <ul class="dropdown">
      <li class="list-el selected" ng-repeat=" device in devicelist">{{ device }}</li>
    </ul>
  </div>
	<div class="layout-container">
		<div class="layout-message notVisible">
          <span class="sender">{{ sender }}</span>
			<p id="text-received" class="message center-align box-radius">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p> 
		</div>

		<div class="layout-textarea">
			<textarea  class="autoExpand center-align-absolute" name="textarea" rows="1" data-min-rows='1' placeholder="Type some text here"></textarea>
		</div>

		<div class="layout-3btns center-text">
			<button class="btn btn-round" ng-click="sendTextToRoom()">
				<i class="fa fa-2x">&#xf1d8;</i>
			</button>
			<button class="btn btn-round">
				<i class="fa fa-2x">&#xf0c6;</i>
			</button>
			<button class="btn btn-round" ng-click="modal()">
				<i class="fa fa-2x">&#xf067;</i>
			</button>
		</div>

		<div id="modal" class="modal-container center-align center-text">
		  <div id="open-modal" class="modal-dialog box-shadow center">
		    <a href="javascript:void(0)" title="Close" class="close" ng-click="modal()"><i class="fa fa-times fa-3x"></i></a>
		    <div class="modal-main-container">
		      <p class="text-top">Scan the QR to start sharing with this device</p>
		      <div id="qrcode" class="layout-qrcode center-absolute"></div>
		    </div>
		    <div class="modal-btn-container">
		    	<button ng-click="scanQr()">Scan</button>
		      <!-- <input type="file" class="square-button center-align center-align-absolute" custom-on-change="uploadFile" value="Scan other device QR Code"/> -->
		    </div>
		  </div>

		  <div id="scan-modal" class="modal-dialog video-dialog box-shadow center notVisible">
		    <div id="reader" class="scan-video"></div>
		  </div>
		</div>
	</div>
  
  <div class="flashmessage center-align-absolute center-text notVisible"></div>
</div>

<canvas id="qr-canvas" style="display:none;">
	
</canvas>
